{% extends 'GameScoreCentral/base.html' %}

{% block title_block %}
  Add New Game
{% endblock %}


{% block body_block %}
<div class="container">
    <form id="addNewGame_form" method="post" action="{%url 'game:addNewGame' %}" class="mt-3"></form>
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_title" class="form-label">Name of game</label>
      <input type="text" class="form-control" id="title" name="title" value="" size="50">
    </div>
    <div class="mb-3">
      <label for="id_poster" class="form-label">upload image here</label>
      <input type="file" class="form-control" id="id_poster" name="poster" accept="image/*">
    </div>
    <div class="mb-3">
      <label for="id_release_date" class="form-label">Year of Release</label>
      <input type="text" class="form-control" id="release_date" name="release_date" value="" size="50">
    </div>
    <div class="mb-3">
      <label for="id_genre" class="form-label">Genre</label>
      <input type="text" class="form-control" id="category" name="category" value="" size="50">
    </div>
    <div class="mb-3">
      <label for="id_description" class="form-label">Description of Game</label>
      <textarea class="form-control" id="description" name="description" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg mx-auto d-block" id="buttonMiddle">ADD GAME</button> 
</div>
{% endblock %}
