{% extends 'GameScoreCentral/base.html' %}

{% block title_block %}
GameScoreCentral
{% endblock %}

{% block body_block %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
          <div style="overflow: hidden; height: 300px; width: 200px; border-color: #251a19; border-style: solid; border-width: medium;">
            <img
              src="{{ game.poster }}"
              class="card-img-top img-fluid"
              alt="{{ game.title }}"
              style="object-fit: cover; width: 100%; height: 100%"
            />
          </div>
        </div>
        <div class="col-md-8 rounded p-4" id='darkBack'>
          <div class="ml-4">
            <h1>{{ game.title }}</h1>
            <p style='color:white'>{{ game.description }}</p>
            <div class="mt-2">
              <h5>Year of release: <span style = "color:white">{{ game.release_data }}</span></h5>
              <h5>Game Studio: <span style = "color:white">{{ game.game_studio }}</span></h5>
              <h5>Genre: <span style = "color:white">{{ game.category }}</span></h5>
            </div>
          </div>
        </div>
      </div>
  <div class="row mt-4 rounded p-4" id='darkBack'>
    <div class="col mb-4">
      <h2>Edit Review</h2>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-primary" id= 'buttonMiddle'>Submit Review</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}