{% extends 'GameScoreCentral/base.html' %}

{% block title_block %}
GameScoreCentral
{% endblock %}

{% block body_block %}
<style>
    a {
        text-decoration: none;
        color: inherit;
    }

    .card:hover {
        transition: box-shadow 0.3s ease-in-out;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Popular</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <!-- Place your popular items here -->
                {% for item in popular_games %}
                <div class="col">
                    <a href="{% url 'game:viewGame' item.id %}" class="card-link">
                        <div class="card h-100">
                            <div style="overflow: hidden; height: 200px;">
                                <img src="{{ item.poster }}" onerror="this.onerror=null; this.src='/media/{{ item.poster }}'" class="card-img-top img-fluid" alt="{{ item.title }}"
                                    style="object-fit: cover; width: 100%; height: 100%;">
                            </div>
                            <div class="card-body">
                                {% if item.average_review %}
                                {% with ''|center:item.average_review as range %}
                                {% for _ in range %}
                                <span style='font-size:12px'id='pink'><b>
                                ☆
                            </b></span>
                                {% endfor %}
                                {% endwith %}
                                {% else %}
                                <span id='pink'><b>
                                No Rating 
                            </b></span>
                                {% endif %}
                            
                            <h5 class="card-title">{{ item.title }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <h2>Highest Rating</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <!-- Place your highest rated items here -->
                {% for item in highest_rated_games %}
                <div class="col">
                    <a href="{% url 'game:viewGame' item.id %}" class="card-link">
                        <div class="card h-100">
                            <div style="overflow: hidden; height: 200px;">
                                <img src="{{ item.poster }}" onerror="this.onerror=null; this.src='/media/{{ item.poster }}'" class="card-img-top img-fluid" alt="{{ item.title }}"
                                    style="object-fit: cover; width: 100%; height: 100%;">
                            </div>
                            <div class="card-body">
                                    {% if item.average_review %}
                                    {% with ''|center:item.average_review as range %}
                                    {% for _ in range %}
                                    <span style='font-size:12px'id='pink'><b>
                                    ☆
                                </b></span>
                                    {% endfor %}
                                    {% endwith %}
                                    {% else %}
                                    <span id='pink'><b>
                                    No Rating 
                                </b></span>
                                    {% endif %}
                                
                                <h5 class="card-title">{{ item.title }}</h5>
                            </div>
                            
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}