{% extends 'GameScoreCentral/base.html' %}
{% load signup_filters %}
{% block title_block %}
  Sign Up
{% endblock %}

{% block body_block %}
<div class="container">
  {% if user_form.errors %}
<div class="alert alert-danger" role="alert">
    <strong>There were some problems with your submission:</strong>
    <ul>
    {% for field, errors in user_form.errors.items %}
      <li><strong>{{ "Password2"|replace_string:"Password2,Confirm Password" }}:</strong>
        <ul>
        {% for error in errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
  <main class="form-signin w-100 m-auto">
    {% if registered %}
      <h1 class="h3 mb-3 fw-normal">Thank you for registering</h1>
      <p class="text-success">You have successfully registered. You can now log in to your account.</p>
    {% else %}
      <form id="user_form" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}

        <div class="mb-3">
          <label for="id_username" class="form-label">Username</label>
          {{ user_form.username }}
          {% for error in user_form.username.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>

        <div class="mb-3">
          <label for="id_email" class="form-label">Email</label>
          {{ user_form.email }}
          {% for error in user_form.email.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>

        <div class="mb-3">
          <label for="id_first_name" class="form-label">First Name</label>
          {{ user_form.first_name }}
          {% for error in user_form.first_name.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>

        <div class="mb-3">
          <label for="id_last_name" class="form-label">Last Name</label>
          {{ user_form.last_name }}
          {% for error in user_form.last_name.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>

        <div class="mb-3">
          <label for="id_password1" class="form-label">Password</label>
          {{ user_form.password1 }}
          {% for error in user_form.password1.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>

        <div class="mb-3">
          <label for="id_password2" class="form-label">Confirm Password</label>
          {{ user_form.password2 }}
          {% for error in user_form.password2.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>

        <div class="mb-3">
          <label for="id_profile_picture" class="form-label">Profile Picture</label>
          {{ user_form.profile_picture }}
          {% for error in user_form.profile_picture.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>

        <button class="btn btn-primary mt-4" type="submit">Sign Up</button>
      </form>
    {% endif %}
  </main>
</div>
{% endblock %}
