{% extends 'GameScoreCentral/base.html' %}
<style>
  #buttonSearch {
        margin:auto;
        background-color: #ff5eb0;
        border-color: #ff5eb0;
      }
  #buttonSearch:hover{
        margin:auto;
        background-color: #ff5eb1cf;
        border-color: #ff5eb1cf;
      }
</style>
{% block title_block %}
  Sign In
{% endblock %}


{% block body_block %}
<div class="container">
  <form id="login_form" method="post" action="{%url 'signin' %}" class="mt-3"></form>
  {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="" size="50">
    </div> 
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" value="" size="50">
    </div>
    <button type="submit" class="btn btn-primary" id="buttonMiddle">Submit</button>   
  </form>
</div>
{% endblock %}

